install:
  - mkdir ~/bin
  - PATH=$PATH:~/bin
  - curl http://mirrors.ibiblio.org/apache/kafka/0.8.1.1/kafka_2.9.2-0.8.1.1.tgz > kafka.tgz
  - tar -xzf kafka.tgz
  - cd kafka_2.9.2-0.8.1.1
  - ./bin/zookeeper-server-start.sh config/zookeeper.properties &
  - sleep 3
  - ./bin/kafka-server-start.sh config/server.properties &
  - sleep 5
  - ./bin/kafka-topics.sh --zookeeper localhost:2181 --topic foobar --partition 1 --replication-factor 1 --create
  - cd ../
  - wget https://github.com/edenhill/kafkacat/archive/d4d1b89d8654402b20d6eda58bbf19bd20fae491.zip
  - unzip d4d1b89d8654402b20d6eda58bbf19bd20fae491.zip
  - cd kafkacat-d4d1b89d8654402b20d6eda58bbf19bd20fae491
  - ./bootstrap.sh
  - cp kafkacat ~/bin/
  - kafkacat -h
  - cd ../
  - npm install -g nodeunit
  - npm install
language: java
script: BROKERS=localhost:9092 nodeunit tests
